#container.container
  #cbp-so-scroller.cbp-so-scroller
    / HERE IS THE DIV FOR SCROLLING EFFECT
    / landlord
    #landlord
      %h3.center Page Not Found
      / FOOTER SECTION ###############################################
      %section#footer
        .row
          / Text from left
          .seven.columns.pull_left
            %p
              © #{Date.today.year} Payment Oak Payments
          / Social Icon : You can found how to use them on Fonts Folder / Metrize HOW TO
          .five.columns.text-right.social
            %a{:href => "#", :target => "_blank"}
              %i.icon{"data-icon" => ""}
            %a{:href => "#", :target => "_blank"}
              %i.icon{"data-icon" => ""}
      / END FOOTER SECTION ###############################################
    / end of container
